<li class="todo-list__item" data-id="{{id}}" data-pos="{{positionNumber}}">
    <div class="item__priority priority-{{priority}} status-{{status}}" data-dragndrop="dragNdrop">{{priority}}</div>
    <h3 class="item__title">{{title}}</h3>
    <p class="item__desc">{{description}}</p>
    <div class="item__controls" data-id="{{id}}">
        <button class="controls__complete-btn" data-action="updateStatus">completed</button>
        <button class="controls__delete-btn" data-action="deleteFromTasks">delete</button>
        <button class="controls__edit-btn" data-action="editTasks">edit</button>
    </div>
</li>